@import url("https://fonts.googleapis.com/css2?family=Oswald");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P");
:root {
  --font-color: black;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.App {
  margin: 0 auto;
}
.App a,
.App a:visited {
  color: inherit;
}
.App button {
  cursor: pointer;
}
.App > .container > :last-child {
  margin-bottom: 2rem;
}
.offcanvas {
  font-size: smaller;
}
.offcanvas .Settings > * > :is(label, select) {
  display: inline-block;
  width: 50%;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
}
.offcanvas svg {
  font-size: x-large;
}
.offcanvas .visuals-explanation {
  display: flex;
  flex-wrap: wrap;
}
.offcanvas .visuals-explanation > * {
  align-items: center;
  width: 50%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "visual-el visual-descr";
}

.offcanvas .visuals-explanation .visual-el {
  grid-area: visual-el;
  text-align: center;
}
.offcanvas .visuals-explanation img {
  width: 2.5rem;
  margin: -0.5rem;
  filter: drop-shadow(2px 1px 4px black);
}
.offcanvas .visuals-explanation img[alt^="ow-img-09"],
.offcanvas .visuals-explanation img[alt^="ow-img-10"],
.offcanvas .visuals-explanation img[alt^="ow-img-13"] {
  width: 3rem;
}

.offcanvas footer > * {
  display: block;
  text-align: center;
  align-items: center;
}
.offcanvas footer img {
  width: 20%;
  margin: 1rem auto 0 auto;
}
.offcanvas .visuals-explanation .visual-descr {
  grid-area: visual-descr;
}
.ControlsBar,
.SearchResults .WeatherCurrent {
  margin: 0 1.5rem;
}
.SearchResults .ButtonScroll svg {
  display: block;
  width: 1.5rem;
}
.SearchResults {
  text-shadow: 2px 1px 3px white;
}
.SearchResults.theme-dark {
  color: white;
  text-shadow: 2px 1px 4px black;
}
.SearchResults.theme-dark svg {
  color: white;
  filter: drop-shadow(2px 1px 4px black);
}
.BackgroundLoader {
  text-align: center;
  background: linear-gradient(
    117.9deg,
    rgb(183, 248, 193) -3.5%,
    rgb(169, 212, 250) 53.8%,
    rgb(148, 231, 255) 100.4%
  );
}
.BackgroundLoader .loader-text {
  font-family: "Press Start 2P", cursive;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 2px 2px 2px whitesmoke;
  margin-top: 65vh;
}
.BackgroundLoader img {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25vh;
  margin: auto;
}
.Background,
.BackgroundLoader {
  position: fixed;
  margin: 0;
  top: 0;
  z-index: -2;
  height: 100vh;
  width: inherit;
}
.Background img {
  display: block;
  height: inherit;
  width: inherit;
}
.ControlsBar {
  line-height: 1;
  display: grid;
  grid-template-columns: 1fr 7fr; /*1fr 1fr 6fr;*/
  grid-template-areas: "btnSettings inputLocation"; /*"btnSettings btnGeolocate inputLocation";*/
  grid-gap: 0.5rem;
}
.Background img[alt="rain-heavy"] {
  opacity: 50%;
}
.Background img[alt="thunder"] {
  opacity: 20%;
}
.ControlsBar > * {
  border: 1px solid lightgray;
  border-radius: 3px;
}
.ControlsBar > .ButtonSettings {
  grid-area: btnSettings;
}
.ControlsBar > .ButtonGPS {
  grid-area: btnGeolocate;
}
.ControlsBar > .SearchEngine {
  grid-area: inputLocation;
}
.ControlsBar svg {
  vertical-align: middle;
}
.ControlsBar > .ButtonGPS,
.ControlsBar > .ButtonSettings {
  font-size: 1.5rem;
  padding: 0 0.3rem;
  background-color: transparent;
}
@media (min-width: 0) {
  .App,
  .Background {
    width: 100vw;
  }
}
@media (min-width: 912px) {
  .App,
  .Background {
    width: 30vw;
  }
}
.MainInfo {
  line-height: 1.1;
}
.MainInfo a {
  text-decoration: none;
}
.MainInfo .temperature {
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  display: inline-flex;
}
.MainInfo .temperature > :first-child {
  font-size: 5rem;
}
.MainInfo .temperature > :nth-child(2) {
  font-size: 1.5rem;
  position: relative;
  top: 20px;
}
.MainInfo .location {
  font-size: 2.5rem;
}
.MainInfo .weather-description {
  font-size: 1.5rem;
}
.CurrentIndices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "CI-feelslike CI-pressure"
    "CI-humidity CI-clouds"
    "CI-wind CI-uvi"
    "CI-sunrise CI-sunset";
  padding: 0.5rem 0;
}
.CurrentIndices .ci-temp {
  grid-area: CI-temp;
}
.CurrentIndices .ci-uvindex {
  grid-area: CI-uvi;
}
.CurrentIndices .ci-humidity {
  grid-area: CI-humidity;
}
.CurrentIndices .ci-feelslike {
  grid-area: CI-feelslike;
}
.CurrentIndices .ci-pressure {
  grid-area: CI-pressure;
}
.CurrentIndices .ci-clouds {
  grid-area: CI-clouds;
}
.CurrentIndices .ci-pressure {
  grid-area: CI-wind;
}
.CurrentIndices .ci-sunrise {
  grid-area: CI-sunrise;
}
.CurrentIndices .ci-sunset {
  grid-area: "CI-sunset";
}
.ci-sunrise > .ci-result,
.ci-sunset > .ci-result {
  text-align: center;
}
.CurrentIndices > div {
  display: flex;
}
.CurrentIndices svg {
  font-size: x-large;
}
.CurrentIndices > div > * {
  min-width: 33%;
  text-align: center;
}
.SearchResults .divider-image {
  display: block;
  opacity: 80%;
  width: 100%;
  z-index: -1;
  margin-top: 1rem;
  margin-bottom: -1rem;
}
.WeatherForecastHourly h3,
.WeatherForecastDaily h3 {
  text-align: center;
}
.forecast-scroll {
  display: flex;
}
.forecast-scroll button {
  background: transparent;
  padding: 0;
  border: none;
  font-size: 1rem;
}
.forecast-scroll .scrolling-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
  display: flex;
  text-align: center;
}
.forecast-scroll .scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
.CurrentIndices,
.forecast-scroll-card {
  background-color: rgba(203, 207, 207, 0.6);
  border-radius: 5px;
}
.forecast-scroll-card {
  min-width: 15%;
  margin-right: 0.5rem;
  padding: 0.5rem 0;
}
.forecast-scroll-card > * {
  margin: 0;
}
.forecast-scroll-card img {
  display: block;
  max-width: 80%;
  margin: auto;
}

/* Bootstrap styles */
.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}
button.btn-close {
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  padding: 0.25em 0.25em;
  border: 0;
  opacity: 0.5;
  background-repeat: no-repeat;
  background: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e");
}
.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.offcanvas-backdrop.show {
  opacity: 0.5;
}
.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  transition: transform 0.3s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .offcanvas {
    transition: none;
  }
}
.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}
.offcanvas-title {
  margin-bottom: 0;
  line-height: 1.5;
}
.offcanvas-body {
  flex-grow: 1;
  padding: 1rem 1rem;
  overflow-y: auto;
}
.offcanvas-start {
  top: 0;
  left: 0;
  width: 400px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
}
.offcanvas-end {
  top: 0;
  right: 0;
  width: 400px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
}
.offcanvas-top {
  top: 0;
  right: 0;
  left: 0;
  height: 30vh;
  max-height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateY(-100%);
}
.offcanvas-bottom {
  right: 0;
  left: 0;
  height: 30vh;
  max-height: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateY(100%);
}
.offcanvas.show {
  transform: none;
}
